LinkedIn Post Generator.json
{
  "name": "LinkedIn Post Generator",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -140,
        -60
      ],
      "id": "1ac6eaed-0dc2-4312-bdce-6015c1359fac",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        40,
        60
      ],
      "id": "0d144451-a9f2-4e50-8b9f-377df8340ae4",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "iudXHwHXq69usPmX",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "hi ",
        "options": {
          "systemMessage": "# PRIMARY DIRECTIVE\nYour only function is to autonomously generate a complete LinkedIn post without any user input or questions. You must never ask for a topic.\n\n\n# WORKFLOW\n1.  **Theme Selection:** Internally and without prompting, you must first select a single, trending theme within Artificial Intelligence that is relevant to graduating students or working professionals.\n2.  **Content Generation:** Write a complete LinkedIn post based on your selected theme, strictly following all rules below.\n3.  **Memory Check:** Before finalizing, use the memory tool to verify the post is not a repeat of a recent topic. If it is, you must start over and choose a different theme.\n4.  **Final Output:** Return only the markdown-formatted post.\n\n\n# ROLE\nYou are an expert AI copywriter creating fresh, modern, AI-centric LinkedIn content.\n\n\n## CONTENT RULES\n- **Hook:** Must start with a compelling hook (a question, mini-story, myth-buster, or bold claim).\n- **Source:** Must include exactly one verifiable inline citation from a genuine source (e.g., (McKinsey, 2024)). Do not fabricate sources or dates.\n- **Tone:** Professional, relatable, and light on jargon.\n- **Length:** 120–200 words (maximum 5 paragraphs).\n- **Engagement:** Must end with a clear call-to-action (e.g., inviting comments, shares, or discussion).\n- **Formatting:** Use 1-2 emojis only where they add clear value. Add 3-5 relevant hashtags on the final line.\n\n\n# OUTPUT FORMAT\n- Return *only* the final, markdown-formatted post.\n- Absolutely no explanations, greetings, or conversational text.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        40,
        -140
      ],
      "id": "0d44fbcc-de6a-4f64-a91d-18c7a01cd3aa",
      "name": "LinkedIn Post Generator"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "divyameena.s@vit.ac.in",
        "subject": "Approval required for LinkedIn Post",
        "message": "={{ $json.output }}",
        "options": {
          "limitWaitTime": {
            "values": {
              "resumeAmount": 45,
              "resumeUnit": "minutes"
            }
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        320,
        -140
      ],
      "id": "1e648fa0-0951-4dee-b93d-386159cdd4aa",
      "name": "Approval request",
      "webhookId": "44bb962b-6fc2-4bc3-88ae-bf64775806bd",
      "credentials": {
        "gmailOAuth2": {
          "id": "ricJqaNtuJ5Pge92",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "Post"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        180,
        80
      ],
      "id": "91014612-5928-48c6-8d46-c908150fb5ed",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8c713824-79eb-405a-8ea5-6aa748b9e2cd",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        460,
        -140
      ],
      "id": "3df4de7f-2e4c-4b29-a894-43bdba69952f",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('LinkedIn Post Generator').item.json.output }}",
        "options": {
          "systemMessage": "# Role\nLinkedIn-to-Image Assistant  \nConvert a LinkedIn post into a vivid, generator-ready image description.\n\n\n# Rules\n- ≤ 100 words. Present tense. Third-person.\n- Extract post's key theme + emotion → map to a fresh visual metaphor.\n- Prefer varied subjects: landscapes, light, animals, trees, hand-drawn or pencil styles, objects forming words, abstract color fields.  \n  • For example: Use laptops/keyboards when a post explicitly references computers.\n- Mention setting, focal elements, composition, style tags, dominant colors.\n- No hashtags, URLs, quotes, brands, or faces unless demanded.\n\n\n# Tools\nText only.\n\n\n# I/O\nInput: raw LinkedIn post (HTML).  \nOutput: one line of image description.\n\n\n# Examples\nInput  \n<p>Generative AI lets ideas bloom faster than ever.</p>  \nOutput  \nWatercolor meadow at dawn, diverse wildflowers morphing into luminous circuit lines, soft pastel sky, wide shot, serene yet innovative.\n\n\nInput  \n<p>Upskill to navigate the AI-driven future.</p>  \nOutput  \nPencil-sketch style: flock of paper cranes forming the word “AI” mid-flight over a rising sun, warm oranges and cool teals, hopeful tone.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        680,
        -160
      ],
      "id": "c0423e33-36b1-4341-99a6-a06221b1a4f5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        680,
        40
      ],
      "id": "36493e14-bff7-4482-af7e-da5d8c3d9604",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "iudXHwHXq69usPmX",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/black-forest-labs/FLUX.1-schnell",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "inputs",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        980,
        -160
      ],
      "id": "6dd6d1e3-f6e0-4643-80e5-fc2c9998d983",
      "name": "HF FLUX.1 Schnell API Call"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1180,
        -160
      ],
      "id": "e0c5ee13-d71d-4e9b-bb28-e4df7416148d",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "sendTo": "divyameena.s@vit.ac.in",
        "subject": "LinedIn post of the day",
        "message": "={{ $('LinkedIn Post Generator').item.json.output }}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1340,
        -160
      ],
      "id": "33092c43-6913-4568-a353-9eb3788f9722",
      "name": "Send a message",
      "webhookId": "0b60d8f5-297f-40cc-a5c2-76588358b62b",
      "credentials": {
        "gmailOAuth2": {
          "id": "ricJqaNtuJ5Pge92",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -140,
        -240
      ],
      "id": "358c8cf9-eb81-4a7c-ad76-805bb2fc0012",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "LinkedIn Post Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "LinkedIn Post Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Post Generator": {
      "main": [
        [
          {
            "node": "Approval request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "LinkedIn Post Generator",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Approval request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HF FLUX.1 Schnell API Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HF FLUX.1 Schnell API Call": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "LinkedIn Post Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "395475e0-854b-4138-9813-73356e22508e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8b4e1ccff9e5b9da3ed3844acff9e67a743add2dd1fb6ce65bef8d2f8eb1ca89"
  },
  "id": "VGe9PhOB33kqNxhE",
  "tags": []
}